[passwords]
# User needs SELECT, LOCK TABLES [, INSERT, RELOAD, EXECUTE, EVENT, REPLICATION CLIENT] permissions
# To use socket, add: --socket=/var/run/mysqld/mysqld.sock
#password_db = --user=User1 --password=Pass1
#$ mysql_config_editor set --login-path=User1 --host=localhost --user=User1 --password
password_db = --login-path=User1
# First two chars (-p) represent password parameter and are not part of the password
password_7z = -pPass2
