[settings]
# Location of backup files
backup_dirpath       = /storage/backup
# Path for 7zip working dir (should be on the same drive as backup_dirpath)
backup_dirpath_tmp   = /storage/backup/7zip-tmp
# Log commands to backup.log file
backup_verbose       = 0

# Location of MySQL databases
db_root_dirpath      = /var/lib/mysql
# Path for complete SQL files (don't use /tmp)
db_temp_dirpath_full = /storage/backup/tmp
# Path for diff SQL files (use /tmp or memory drive)
db_temp_dirpath_diff = /run/shm/backup-tmp
# Path where MySQL binary logs are located (leave empty to disable)
db_binlog_dirpath    =
# Remove binary logs older than specified hours (use 0 to disable); needs SUPER MySQL privileges
db_binlog_rm_hours   = 0
# Store dbs not belonging to any username to this user
db_default_user      = server
# Ignore these database names (use | for delimiter)
db_ignore            = mysql|information_schema|performance_schema
# Ignore these users in mysql.user table; format: user1|user2
db_ignore_users      = root|debian-sys-maint

# Location of user directories
user_root_dirpath    = /home
# Ignore these usernames (use | for delimiter)
user_ignore          = tmp
# Ignore these files and directories (use : | || for delimiters)
user_path_ignore     = user1:relative_path_filter1|relative_path_filter2||user2:relative_path_filter3

# Make a full user backup on which day (0 = Monday to 6 = Sunday)
split_week_by_day    = 5
# Make a full database backup on which hour (0 to 23)
split_day_by_hour    = 4
# Make full backups for how many previous weeks (>= 2)
full_backup_weeks    = 4
# Enable upload to Google Drive (0 or 1)
gd_upload_enable     = 0
